{% extends 'base.html.twig' %}

{% block title %}City Index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">City Index</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city.id }}</td>
                    <td>{{ city.name }}</td>
                    <td>{{ city.latitude }}</td>
                    <td>{{ city.longitude }}</td>
                    <td>
                        {% if is_granted('ROLE_CITY_SHOW') %}
                        <a href="{{ path('app_city_show', {'id': city.id}) }}" class="btn btn-info btn-sm">Show</a>
                        {% endif %}
                        {% if is_granted('ROLE_CITY_EDIT') %}
                        <a href="{{ path('app_city_edit', {'id': city.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_CITY_NEW') %}
        <a href="{{ path('app_city_new') }}" class="btn btn-success">Create New</a><br>
        {% endif %}
        {% if is_granted('ROLE_WEATHERDATA_INDEX') %}
        <a href="{{ path('app_weather_data_index') }}" class="btn btn-secondary mt-2">View Weather Data</a>
        {% endif %}
    </div>
{% endblock %}
