{% extends 'base.html.twig' %}

{% block title %}Weather in {{ city.name }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Weather in {{ city.name }}</h1>
        <ul class="list-group">
            {% for data in weather_data %}
                <li class="list-group-item">
                    Date: {{ data.date|date('Y-m-d') }} <br>
                    Temperature: {{ data.celsius }}°C <br>
                    Wind Speed: {{ data.windSpeed }} m/s <br>
                    Humidity: {{ data.humidity }}%
                </li>
            {% else %}
                <li class="list-group-item">No weather data available for {{ city.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}